[tool.poetry]
name = "django-object-actions"
version = "3.0.2"
description = "A Django app for adding object tools for models in the admin"
authors = ["crccheck <c@crccheck.com>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
coverage = "4.5.4"
django-extensions = "2.2.3"
factory-boy = "2.12.0"
dj-database-url = "0.5.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
