name: CI

on:
  pull_request:
  push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        versions:
          - python: "3.6"
            toxenv: "django20-py36"
          - python: "3.7"
            toxenv: "django20-py37"
          - python: "3.6"
            toxenv: "django21-py36"
          - python: "3.7"
            toxenv: "django21-py37"
          - python: "3.6"
            toxenv: "django22-py36"
          - python: "3.7"
            toxenv: "django22-py37"
          - python: "3.6"
            toxenv: "django30-py36"
          - python: "3.7"
            toxenv: "django30-py37"
          - python: "3.8"
            toxenv: "django30-py38"
          - python: "3.6"
            toxenv: "django31-py36"
          - python: "3.7"
            toxenv: "django31-py37"
          - python: "3.8"
            toxenv: "django31-py38"
          - python: "3.8"
            toxenv: "django32-py38"
    
    name: "Python ${{ matrix.versions.python }} - ${{ matrix.versions.toxenv }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.versions.python }}
      - name: Install Dependencies
        run: pip install tox
      - name: Run Tests
        run: tox -e ${{ matrix.versions.toxenv }}

  lint:
    name: "Black"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install Black
        run: pip install black
      - name: Run Black
        run: black --check .